{% extends 'base.html.twig' %}

{% block title %}Liste{% endblock %}

{% block body %}
<h1>Liste des produits</h1>
   
<div class="container">
<table class="table table-striped ">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NOM</th>
      <th scope="col">Delete</th>
      
    </tr>
  </thead>
  <tbody>
    {% for p in produits %}
    <tr>
      <th scope="row">{{ p.id }}</th>
      <td>{{ p.nom }}</td>
     <td><button type="button" class="btn btn-primary">Delete</button></td>
      
    </tr>
    {% endfor %}
      </tbody>
</table>
</div>



{% endblock %}